.top-header{
    height: 40px;
    background-color: black;
    display: flex;
    width: 100%;
    justify-content:end;
    
}
.companyName{
   padding-right: 7px;
    color: white;
    font-weight: bold;
    font-size: large;
   display: flex;
   margin-top:5px;
}
.img-icon{
    margin-left: 5px;
    height: 40px;
    background-color: white;
    color: blue;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    color: blue;
}
.btn-nav{
    border-radius: 40px;
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    background-color: blue;
    color: white;
    margin-right: 5px;
    padding: 0px;
    width: 60px;
   justify-content: center;
   align-items: center;
   margin-right: 30px;
}
.btn-text{
    font-size: small;
    
}
svg{
    margin-right: 30px;
}
.img-icons{
    
    height: 18px;
    
}
.background-cover{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
width: 100%;
}
.images{
    margin-left:10px;
   justify-content: center;
   margin-bottom: 100px;
   padding-left:20px;
   display:flex;
   width: 100%;
   

}
.img-covers{

    /* top left bottom right */
    margin-top: 30px;
    border-radius: 20px;
    height: 100px;
    width: 180px;
    margin-right: 10px;
    display: flex;
    /* width: 100%; */
}
.card{
    border: none;
    border-color: white;
    display: flex;
}
.row{
    display: flex;
   
   width: 100%;

}

.card-text{
   
}

.text-content{
 
   margin-left: 200px;
  
   

}
.text{
    display: flex;
    
    margin-left: 200px;
    line-height: 39px;
    /* font-size: 30px; */
}
.small-text{
    display: flex;
   
    margin-top: 34px;
    margin-left: 200px;
    font-size: 20px;
    line-height:29px;
    color: gray;
    align-items: center;
}
.btn-learn{
    margin-top: 34px;
    background-color: blue;
    color: white;
    font-size: bold;
    margin-left: 200px;
    border: none;
    border-radius: 14px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;

}
.img-remote{
 
   
   height: 100%; 
    width: 100%;
   /* margin-right: 200px; */
    object-position: center;
    display: flex;
    
}
.col-12{
    
    display: flex;
    justify-content: center;
    column-gap: 28px;
   padding-left: 28px;
  align-items: center;
}
.card-with-text{
    margin: 89px 210px 0 200px;
    /* margin-top: 89px;
    margin-left: 200px;
    margin-right: 200px; */

    cursor: pointer;
}
.image{
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 12px;
    
}

.img-text{
    margin-top: 10px;
    display: flex;
   justify-content: center;
   align-items: center;
   
   /* line-break: 3.5px; */
   line-height:1.8;

 
}



.footer{
  margin-top: 50px;
    height: 399px;
    width: 100%;
    display: block;
    
    background-color: rgb(231, 231, 231);
    
}
.footer-text{
    padding-top:48px;
    font-size: 28px;
    text-align: center;
  
    
}
.footer-img{
  height: 120px;
  width: 120px;  
margin-top: 47px;

   
}
.col-3{
    display: flex;
}
.footer-text{
    height: 136px;
    width: 100%;
   
}
.foot-text{
    height: 69px;
    font-size: large;

}
.last-footer{
    /* margin-left: 200px;
    margin-right: 200px; */
    height:580px;
    width: 100%;
    background-color: rgb(25, 25, 150);
    color: white;
    /* line-height:4.5; */
    bottom: 0;

}
.row{
    margin-top: 50px;
}
.last-footer-img{
    margin: 60px 0 0 200px;
    height: 100%;
    width: 100%;
    position: absolute;
    /* -o-object-fit: contain; */
    object-fit: contain;

}
.last-img{
    
    height:auto;
    width: 7.4%;
    margin-bottom: 25px;
}
.globe-icon{
   height:32px;
   margin-right:8px;

}
.icon-and-text{
    margin-top: 40px;
}
.col-2{
    margin-left: 14px;
    line-height: 1.0;
    margin-top: 60px;
    font-size: small;
}
.img-sony{
    height:70px;
    width: 140px;
    /* margin-left: 200px; */
    margin-bottom: 0px;
    padding: 0px;
    
}
.sony-img-p{
    margin-left: 200px;
    line-height: 1.5;
}
.sony-img-text{
    /* margin-left: 200px; */
    height: 120px;
    width: 431px;
    margin-top:0px;
    padding: 0px;
    
    
}
.ps-explore{
    background-color: rgb(243, 201, 124);
    height: 350px;
    width: 100%;
    
}
.row{
    margin-top: 45px;
    margin-left: 200px;
}
.center{
    margin-left: 200px;
    width: 50px;
}
.img-explore{
    height: 100px;
    width: 100px;
}
.img-explore1{
    height: 200px;
    width: 250px;
}
.explore-text-img{
    width: 110px;

}
body{
    margin:0;
    width: 100%;
   
}
